.studio-navigation {
    display: none;
}

.info-icon {
    width: 200px;
    height: auto;
    margin: 10px;
}

.info-start {
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}

.info-disclaimer {
    font-size: 18px;
    text-align: center;
}

.info-description, .info-cases{
    font-size: 22px;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    margin: 20px;
    width: 500px;
}

.info-description {
    background-color: #b35340;
}

.info-cases {
    background-color: #c38054;
}

.info-description-header, .info-cases-header{
    text-decoration: underline;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.info-buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px 0 30px 0;
}


.info-button {
    background-color: transparent;
    border: solid 2px white;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    color: white;
    text-align: center;
    padding: 1px 6px;
    font-size: 22px;
    margin: 20px;
    width: 80px;
    animation: pulse 1.5s ease infinite;
    box-shadow: 0 0 0 0 #ffffff80;
}

.info-github{
    text-decoration: underline;
}

@keyframes pulse {
    0% {
        transform: scale(0.85);
    }
    75% {
        transform: scale(1);
        box-shadow: 0 0 0 15px #ffffff00;
    }
    100% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 #ffffff00;
    }
}

@media screen and (max-width: 720px) {
    .info-start {
        font-size: 20px;
    }
    
    .info-disclaimer {
        font-size: 18px;
    }
    
    .info-description, .info-cases{
        font-size: 20px;
        width: 450px;
    }

    .info-icon {
        width: 180px;
    }
}

@media screen and (max-width: 520px) {
    .info-start {
        font-size: 18px;
    }
    
    .info-disclaimer {
        font-size: 18px;
    }
    
    .info-description, .info-cases{
        font-size: 18px;
        width: 300px;
    }

    .info-icon {
        width: 150px;
    }
}