{% extends 'base/base_template.html' %}
{% load static %}
{% load modulo %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'base/detail.css' %}">

<div class='detail-header'>My Instrument</div>
<div class='detail-fields'>
    <div class='detail-field'>Name: {{instrument.name}}</div>
    <div class='detail-field'>Notes: {{instrument.notes}}</div>
</div>

<div class='detail-header'>Sessions</div>

<div class='list'>

    {% for session in instrument.sessions.all %}
    <div class='list-row'>
        <div class='session-field'>{{session.date}}</div>
        <div class='session-field session-field-piece'>{{session.piece}}</div>
        <div class='session-field'>{{session.duration|time }}</div>
        <div class='list-row-buttons'>
            <a href="{% url 'practice detail' session.id %}"><img class="list-row-button" src="{% static 'base/view.png' %}" alt="view"/></a>
            <a href="{% url 'practice update' session.id %}"><img class="list-row-button" src="{% static 'base/edit.png' %}" alt="edit"/></a>
            <a href="{% url 'practice delete' session.id %}"><img class="list-row-button" src="{% static 'base/delete.png' %}" alt="delete"/></a>
        </div>
        
    </div>
    {% empty %}
        <h3>No sessions</h3>
    {% endfor %}

</div>

<div class='stats-container'>
    <div class='stats-primary-wrapper'>
        <img class='stats-icon' src="{% static 'base/fire.png' %}" alt="fire icon"/>
        <div class='stats-data'>{{ sum_session|time }}</div>
        <div class='stats-header'>total hours</div>
    </div>
    <div class='stats-secondary-wrapper'>
        <img class='stats-icon' src="{% static 'base/time.png' %}" alt="time icon"/>
        <div class='stats-data'>{{ avg_session|time }}</div>
        <div class='stats-header'>average session</div>
    </div>
</div>

{% endblock %}